/* Home.css */
.home-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #d5d5d5;
}

.home-photo {
    width: 250px;
    height: 250px;
    border-radius: 15%; /* Круглая фотография */
    margin-bottom: 10px;
    margin-top: 30px;
}

.home-name {
    font-size: 36px;
    color: #8178d0;
    margin-bottom: 30px;
}

.home-greeting {
    font-size: 20px;
    color: #a9aaaf;
}

